* {
 list-style-type: none; 
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
 background-color: black;  
}
.parallax-image-header {
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/BGphoto.jpg');
}
.parallax {
  height:100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

