* {
    font-family: "Monoton";
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;;
}

h3 {
    font-size: 2rem;
}

main {
    background-color: black;
}

#hero-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.hero-section {
    background-color: black;
}

#occupations {
    padding: 5rem;
    font-size: 3.5rem;
}
.side-nav-right, .side-nav-left {
    padding: 2rem;
    z-index: 1000;
}

.sticky-top {
    z-index: 100;
}

.chapter {
    height: 100vh;
}
