* {
 list-style-type: none; 
 /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
 font-family: 'Press Start 2P';
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

main {
 background-color: black;  
 color:white;
}

section {
  padding: 2rem;
  min-height: 100vh;
}
.paragraphs {
  text-align: center;
  font-size: 2rem;
  margin: 0 3rem;
  padding: 3rem;
}
.image-header{
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/BGphoto.jpg');
}
.parallax {
  height:100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-link {
  height: 10rem;
  width: 10rem;
}
